[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sh = "*"
flask-serialize = "*"
flask-restless = "*"
python-git = "*"
gitpython = "*"
pydriller = "*"
python-git-info = "*"

[dev-packages]

[requires]
python_version = "3.8"
